<div style="text-align: left">
    <p>
        Thank you for your time and effort. Please fill out the excel sheet with
        your name and this number to get participation credit!This number is not
        linked to your responses in any way.
    </p>

    <div style="clear: both; text-align: center">
        <h3><%= getRandomInt() %></h3>
    </div>

    <p>
        <a
            href="https://docs.google.com/spreadsheets/d/1HmtBHrPFZXNqsy8OAikHSRtjNtNVc1eQCRLymLsf45M/edit?usp=sharing"
            target="_blank"
            >Click Here</a
        >
    </p>
</div>
