<div style="text-align: left">
    <p>
        Thank you for your time and effort. Please fill out the excel sheet with
        your name and the number you were previously given to get credit!
    </p>
    <p>
        <a
            href="https://docs.google.com/spreadsheets/d/1HmtBHrPFZXNqsy8OAikHSRtjNtNVc1eQCRLymLsf45M/edit?usp=sharing"
            target="_blank"
            >Click Here</a
        >
    </p>
</div>
