

<div style="clear: both">
    <div style="align-content: center; height: 3em; width: 100%">
        <h2>Keep This Code For Your Records</h2>
    </div>
</div>

<div style="clear: both; text-align: center">
    <h3><%= getRandomInt() %></h3>
</div>

<div ><%= continueButton() %></div>
